/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 100%;
}
.header-wrap {
  width: 100%;
  border-bottom: 2px solid #E0E0E0;
}
@media (max-width: 500px) {
  .header-wrap {
    border-bottom: none;
  }
}
header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
@media (max-width: 800px) {
  header {
    width: 95%;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  header {
    padding-bottom: 0px;
    width: 100%;
    flex-direction: column;
    align-content: stretch;
    justify-content: none;
  }
}
.img {
  width: 200px;
  padding-right: 20px;
}
@media (max-width: 800px) {
  .img {
    align-content: center;
    padding: 20px 0px;
  }
}
.menu {
  width: 100%;
}
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .menu ul {
    flex-direction: column;
  }
}
.menu a p {
  color: black;
}
.menu a {
  transition: all 0.5s ease;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .menu a {
    padding: 10px 20px;
  }
}
@media (max-width: 600px) {
  .menu a {
    padding: 10px 13px;
  }
}
@media (max-width: 500px) {
  .menu a {
    width: 100%;
    padding: 10px 0px;
    transition: all 0.5s ease;
    background-color: white;
    border: 1px solid #E0E0E0;
    text-align: center;
  }
}
.menu a:hover {
  background-color: #FFC0CB;
}
.menu a:hover p {
  color: white;
}
@media (max-width: 500px) {
  .menu a:hover {
    padding: 15px 0px;
  }
}
.search-your-wedding {
  background-image: url("../images/cofee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-size: 100% 100%;
  width: 100%;
}
@media (max-width: 500px) {
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-container h1 {
  font-size: 5rem;
  color: rgba(184, 157, 2, 0.712);
  font-weight: bolder;
  padding-top: 80px;
}
.search-container p {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #b89c02;
  background-color: rgba(255, 255, 255, 0.671);
  margin-top: 20px;
}
.input input {
  height: 42px;
  width: 500px;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 100;
  padding-left: 10px;
  box-sizing: border-box;
}
.input input:hover {
  box-shadow: 1px 1px 1px 1px #fa7fc1;
}
.input button {
  height: 45px;
  width: 150px;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  background-color: #f57ee1;
}
.input button:hover {
  box-shadow: 1px 1px 1px 1px #fa7fc1;
}
@media (max-width: 800px) {
  .search-your-wedding {
    height: 240px;
  }
  .search-container h1 {
    font-size: 3.8rem;
    font-weight: bolder;
    padding-top: 50px;
  }
  .search-container p {
    font-size: 1rem;
    font-weight: bold;
  }
  .input input {
    height: 35px;
    width: 380px;
    font-size: 1rem;
  }
  .input button {
    height: 35px;
    width: 100px;
    font-weight: bold;
  }
}
.wedding-dresses h1 {
  font-size: 3.3rem;
  text-align: center;
  padding: 60px 0 30px 0;
  font-family: great vibes ;
}
.wedding-dresses p {
  font-size: 1.5rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
  font-family: grenze;
  color: gray;
}
.dresses {
  width: 92%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin: 0 auto;
}
.design :last-child {
  height: 230px;
  width: 160px;
}
.design :first-child {
  height: 230px;
  width: 160px;
}
.design {
  position: relative;
  height: 230px;
  border: 5px outset #9edada;
  margin: 20px 15px 25px 15px;
}
.design a {
  position: relative;
  height: 250px;
  width: 400px;
}
.design img {
  position: absolute;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.design img.top:hover {
  opacity: 0;
}
.design .item-num p {
  font-size: 1.4rem;
  text-align: center;
  align-items: center;
  height: 30px;
  margin-top: 10px;
}
.etiquette h2 {
  font-size: 1.5rem;
  color: gray;
  text-align: center;
  padding-bottom: 20px;
}
.vid1 {
  height: 400px;
  width: 87%;
  display: flex;
  margin: 0 auto;
}
