/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 62.5%;
}
header {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
}
.img {
  height: 120px;
  width: 260px;
}
.menu {
  width: 63%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  font-weight: bolder;
  box-sizing: border-box;
  padding-right: 3px;
}
.login a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  color: 63D0EE;
  padding-right: 20px;
}
a:hover {
  color: 63D0EE;
}
.f-line {
  width: 100%;
  border: 0.7px solid #cfcdcd;
  margin-top: 10px;
}
.search-your-wedding {
  background-image: url("C:/projects/Wedding-planner/Marketing-page/images/cofee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-size: 100% 100%;
  height: 400px;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 300px;
}
.search-container h1 {
  font-size: 5rem;
  color: #afafaf;
  font-weight: bolder;
  padding-top: 100px;
}
.search-container p {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #afafaf;
  padding-top: 10px;
}
.input input {
  height: 42px;
  width: 500px;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 100;
  padding-left: 10px;
  box-sizing: border-box;
}
.input input:hover {
  box-shadow: 1px 1px 1px 1px #fa7fc1;
}
.input button {
  height: 45px;
  width: 150px;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  background-color: #f57ee1;
}
.input button:hover {
  box-shadow: 1px 1px 1px 1px #fa7fc1;
}
