/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 62.5%;
}
header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  header {
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    padding: 100px;
  }
}
header {
  padding: 30px 10px;
}
.img {
  width: 200px;
}
.menu ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.menu a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  font-weight: bolder;
  box-sizing: border-box;
  padding-right: 50px;
}
.login a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  color: #63D0EE;
  padding-right: 20px;
}
a:hover {
  color: #63D0EE;
}
.f-line {
  width: 100%;
  border: 0.7px solid #cfcdcd;
  margin-top: 10px;
}
@media (max-width: 800px) {
  .img {
    height: 80px;
    width: 200px;
  }
  .menu a {
    font-size: 0.6rem;
    padding-right: 15px;
  }
  .login a {
    font-size: 0.8rem;
    font-weight: bold;
    padding-right: 5px;
  }
}
@media (max-width: 500px) {
  .img {
    height: 70px;
    width: 200px;
    align-items: center;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
  }
  .menu li a {
    font-size: 1.3rem;
    font-weight: 100;
    padding-top: 20px;
    padding-right: 0px;
    border: 1px solid black;
  }
}
.search-your-wedding {
  background-image: url("../images/cofee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-size: 100% 100%;
  height: 350px;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-container h1 {
  font-size: 5rem;
  color: rgba(45, 87, 4, 0.719);
  font-weight: bolder;
  padding-top: 80px;
}
.search-container p {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #2d5704;
  padding-top: 10px;
}
.input input {
  height: 42px;
  width: 500px;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 100;
  padding-left: 10px;
  box-sizing: border-box;
}
.input input:hover {
  box-shadow: 1px 1px 1px 1px #fa7fc1;
}
.input button {
  height: 45px;
  width: 150px;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  background-color: #f57ee1;
}
.input button:hover {
  box-shadow: 1px 1px 1px 1px #fa7fc1;
}
@media (max-width: 800px) {
  .search-your-wedding {
    height: 240px;
  }
  .search-container h1 {
    font-size: 3.8rem;
    font-weight: bolder;
    padding-top: 50px;
  }
  .search-container p {
    font-size: 1rem;
    font-weight: bold;
  }
  .input input {
    height: 35px;
    width: 380px;
    font-size: 1rem;
  }
  .input button {
    height: 35px;
    width: 100px;
    font-weight: bold;
  }
}
