.about-page {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

.about-statement {
  text-align: center;
  padding: 20px;
  background-color: #E0E0E0;
}

.about-statement h3 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.about-statement p {
  font-size: 1.3rem;
}

.box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 25px 0px;

  h3 {
    font-size: 1.3rem;
  }

  @media(max-width: 800px){
    width: 95%;
    flex-direction: column;
  }

  @media(max-width: 500px) {
    flex-direction: column;
  }

}

.content-box {
  font-size: 0.95rem;
  width: 45%;
  padding: 10px;
  text-align: center;

  @media(max-width: 800px){
    width: 100%;
    padding-bottom: 25px;
  }

  @media(max-width: 500px){
    width: 100%;
  }
}

.content-box img {
  max-width: 300px;
  border-radius: 50%;
  padding-bottom: 15px;
}

.item-wrap {
  width: 50%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  font-size: 1rem;
}

.content-box a {
  text-decoration: none;
  color: black;
}

.content-box p {

  @media(max-width: 800px){
    padding-top: 20px;
  }
}

.final-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;

  h3 {
    font-size: 2rem;
    padding-bottom: 20px;
  }

}
