// font-family: 'Great Vibes'
// font-family: 'Grenze'

.search-your-wedding{
    background-image: url("../images/cofee.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-size: 100% 100%;
    width:100%;

    @media(max-width: 500px){
      // background-image: none;
    }

}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search-container h1{
    font-size: 5rem;
    color: rgba(184, 157, 2, 0.712);
    font-weight: bolder;
    padding-top: 80px;

}

.search-container p{
    font-size: 1.3rem;
    font-weight: bolder;
    color: rgb(184, 156, 2);
    background-color:rgba(255, 255, 255, 0.671);
    margin-top: 20px;
}

.input input{
    height: 42px;
    width: 500px;
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 100;
    padding-left: 10px;
    box-sizing: border-box;

}
.input input:hover{
    box-shadow: 1px 1px 1px 1px rgb(250, 127, 193);
}

.input button{
    height: 45px;
    width:150px;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    background-color: rgb(245, 126, 225);
}

.input button:hover{
    box-shadow: 1px 1px 1px 1px rgb(250, 127, 193);
}





@media(max-width:800px){
    .search-your-wedding{
        height: 240px;
    }

    .search-container h1{
        font-size: 3.8rem;
        font-weight: bolder;
        padding-top: 50px;
    }

    .search-container p{
        font-size: 1rem;
        font-weight: bold;

    }

    .input input{
        height: 35px;
        width: 380px;
        font-size: 1rem;
    }

    .input button{
        height: 35px;
        width:100px;
        font-weight: bold;
    }

}


.wedding-dresses h1{
    font-size: 3.3rem;
    text-align: center;
    padding: 60px 0 30px 0;
    font-family: great vibes ;
}

.wedding-dresses p{
    font-size: 1.5rem;
    width:90%;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    font-family: grenze;
    color: gray;
}

.dresses{
    width:92%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:30px;
    margin: 0 auto;

}

.design :last-child{
    height: 230px;
    width: 160px;
    }

    .design :first-child{
        height: 230px;
        width: 160px;
    }

.design {
    position:relative;
    height: 230px;
    border: 5px outset rgb(158, 218, 218);
    margin:20px 15px 25px 15px;
}

.design a{
    position:relative;
    height:250px;
    width:400px;

}
.design img {
    position:absolute;
    left:0;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.design img.top:hover {
    opacity:0;
}

.design .item-num p{
    font-size: 1.4rem;
    text-align: center;
    align-items: center;
    height:30px;
    margin-top: 10px;
}

.etiquette h2{
    font-size: 1.5rem;
    color: gray;
    text-align: center;
    padding-bottom: 20px;


}

.vid1{
    height:400px;
    width:87%;
    display: flex;
    margin:0 auto;

}
