.search-your-wedding{
    background-image: url("../images/cofee.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-size: 100% 100%;
    height: 350px;
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container h1{
    font-size: 5rem;
    // color: rgb(175, 175, 175);
    color: rgba(45, 87, 4, 0.719);
    font-weight: bolder;
    padding-top: 80px;
}

.search-container p{
    font-size: 1.3rem;
    font-weight: bolder;
    color: rgb(45, 87, 4);
    padding-top: 10px;
}

.input input{
    height: 42px;
    width: 500px;
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 100;
    padding-left: 10px;
    box-sizing: border-box;
}

.input input:hover{
    box-shadow: 1px 1px 1px 1px rgb(250, 127, 193);
}

.input button{
    height: 45px;
    width:150px;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    background-color: rgb(245, 126, 225);
}

.input button:hover{
    box-shadow: 1px 1px 1px 1px rgb(250, 127, 193);
}



@media(max-width:800px){
    .search-your-wedding{
        height: 240px;
    }

    .search-container h1{
        font-size: 3.8rem;
        font-weight: bolder;
        padding-top: 50px;
    }

    .search-container p{
        font-size: 1rem;
        font-weight: bold;

    }

    .input input{
        height: 35px;
        width: 380px;
        font-size: 1rem;
    }

    .input button{
        height: 35px;
        width:100px;
        font-weight: bold;
    }

}
