header {
  padding: 30px 10px;
}

.img{
    width:200px;

}

.menu ul{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.menu a{

    text-decoration: none;
    color:black;
    font-size: 0.8rem;
    font-weight: bolder;
    box-sizing: border-box;
    padding-right: 50px;

}

.login a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    color: #63D0EE;
    padding-right: 20px;

}

a:hover{
    color:#63D0EE;
}

.f-line{
    width:100%;
    border: 0.7px solid rgb(207, 205, 205);
    margin-top: 10px;

}

@media(max-width:800px){

    .img{
        height: 80px;
        width:200px;

    }

    .menu a{
        font-size: 0.6rem;
        padding-right: 15px;
    }

    .login a{
        font-size: 0.8rem;
        font-weight: bold;
        padding-right: 5px;
    }
}

@media(max-width:500px){
    .img{
        height: 70px;
        width:200px;
        align-items: center;
    }

    .menu ul{
        flex-direction: column;
        align-items: center;
    }

    .menu li a{

        font-size: 1.3rem;
        font-weight: 100;
        padding-top: 20px;
        padding-right: 0px;
        border: 1px solid black;

    }



}
