header {
  padding: 30px 10px;
}

.img{
    width:200px;

}

.menu{
    width:63%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu a{

    text-decoration: none;
    color:black;
    font-size: 0.8rem;
    font-weight: bolder;
    box-sizing: border-box;
    padding-right: 3px;
}

.login a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    color: #63D0EE;
    padding-right: 20px;

}

a:hover{
    color: #63D0EE;
}

.f-line{
    width:100%;
    border: 0.7px solid rgb(207, 205, 205);
    margin-top: 10px;

}

.join-in img {

}
